@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Montserrat&display=swap');

/* source : POSEIDON : https://adobe.ly/2JoZzyd */
:root {
  --poseidon-darkest: #012030;
  --poseidon-darker: #13678a;
  --poseidon-midtone: #45c4b0;
  --poseidon-lighter: #9aeba3;
  --poseidon-lightest: #dafdba;
  --white: #f7f8fa;
  --black: #171321;
  --font-size: 1.3rem;
  --title-font: 'Barlow Condensed', sans-serif;
  --parag-font: 'Montserrat', sans-serif;
}

body {
  font-family: var(--parag-font);
  background-color: var(--black);
  color: var(--poseidon-midtone);
}

a {
  color: var(--poseidon-lightest);
}

a:hover {
  color: var(--poseidon-lighter);
}

/* intro styles */

#intro {
  padding-bottom: 10rem;
}

#intro p {
  font-size: 1rem;
  line-height: 1.5;
}

#intro .name {
}

#intro .name span {
  font-family: var(--title-font);
  font-size: 4rem;
  color: var(--white);
  display: block;
}

#intro h2 {
  font-family: var(--title-font);
  font-size: 2rem;
  font-weight: normal;
}

/* contact section */
#contact {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  padding: 3rem 0;
  /*background: var(--poseidon-darkest);
   */
}

#contact h2 {
  font-size: 2rem;
  color: var(--white);
}

/* nav bar */
nav ul {
  text-align: center;
  margin: 10px;
  padding: 0 0 3rem 0;
}

nav ul li:first-child {
  display: block;
}

nav ul li {
  font-family: var(--title-font);
  display: inline-block;
  margin-top: 0.5rem;
  margin-right: 1rem;
  font-size: 80%;
}

nav ul li:last-child {
  margin-right: 0;
}
